<!-- <div [ngStyle]="{'background-image': 'url(../../assets/round.png.jpg)'}" 
     style="background-size: cover; height: 100vh relative;">
  
</div> -->
<section class="bg-emerald-50 m-h-screen flex z-20">
    <div class="w-full pt-48 relative ">
        <img class=" absolute hidden lg:block ml-12 animate-infinite animate-spin animate-duration:100s "
            src="../../assets/shape-8.png">
        <img class=" absolute hidden lg:block left-0 bottom-0 " src="../../assets/shape-9.png">
        <!-- bottom icon design the rounded -->
        <div class="absolute border-4 border-red-400 bottom-12 left-15 p-4 ">
            <img class="" src="../../assets/shape-10.png">
            <div class="border-4 border-red-400 absolute top-0 left-0 w-full h-full flex justify-center items-center ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-8 courser-pointers text-orange-400">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                </svg>
            </div>
        </div>
        <!-- design content and picture -->
        <div class="container text-black  flex">
            <!-- design content picture -->
            <div class="flex flex-wrap lg:flex-nowrap  my-auto max-w-md">
                <div class="  pl-12 mb-12">
                    <p class="text-emerald-800 font-semibold text-lg mb-6">This my ecommerce websit for compagin natural
                        food product directily sell to public platform

                    </p>
                    <h2 class="text-4xl font-semibold mb-3 text-slate-800">This app used for region

                        <span class="text-emerald-600 relative"> compain product
                            <img class="  bottom-0 right-0 absolute" src="../../assets/shape-4.webp" alt="">
                        </span>
                    </h2>
                    <p class="text-slate-800 mb-3">and easy wise marketing in aviable any of time</p>


                    <app-button shade="D" size="L" name="switch now"></app-button>
                </div>
            </div>
            <div class=" pl-2 lg:pt-12 w-[60%] lg:w-full ml-auto"><img src="../../assets/model.png" alt="">
            </div>

        </div>
    </div>


</section>
<!-- <div class="bg-[url('../../assets/bird.jpg') bg-cover bg-center h-screen">

</div> -->
<!-- <div [ngStyle]="{'background-image': 'url(../../assets/bird.jpg)'}" 
     style="background-size: cover; height: 100vh;  ">
    <h1 class="text-4xl text-align-center">augastin</h1></div> -->