<section class="p-50">
    <!-- <div class=" container pt-100">
            <h1 class="bg-red-100">USER REGISTER</h1>
        <div class="text-left md:text-center">
            <form (ngSubmit)="ngsubmit()">
                <div>
                    <label class="mb-2 text-lg font-medium text-gray-700 text-align:center">NAME:</label>
                    <input type='text' name="object" [(ngModel)]="user.object"
                        class="border border-gray-300 rounded-lg p-2 w-64 text-center">
        
                </div>
                <div> {{user.object}}</div>
                <div> <label class="mb-2 text-lg font-medium text-gray-700 text-align:center">DESCRIBTION:</label>
                    <input type="text" name="comname" [(ngModel)]="user.comname"
                        class="border border-gray-300 rounded-lg p-2 w-64 text-center">
                </div>
                <div>
                    <label>FILE:</label>
                    <input type="file" name="image" [(ngModel)]="user.image"
                        class="border border-gray-300 rounded-lg p-2 w-64 text-center">
                </div>
        
                <button type="submit">SUBMIT</button>
            </form>
        </div>
        </div> -->
    <div class="pt-48  flex justify-center">
        
        </div>
        

</section>
<section>
    <div class="container flex gap-5 item-center">
        <app-button name="sinup" size="S" shade="D"animation="C"></app-button>
        <app-button name="login" size="M" shade="L"animation="C"></app-button>
        <app-button name="logout" size="L" shade="W"animation="C"></app-button>
        <app-button name="oh"></app-button></div>
</section>